
@{
    ViewData["Title"] = "Home Page";
}
@model Student
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(Model ==null)
    {
        <p> not found</p>
    }
    else
    {
    <p> Name: @Model.Name, Id: @Model.Id, Age: @Model.Age</p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
